name: "Validate PR Title"

on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - edited
      - reopened

permissions:
  contents: read

jobs:
  validate_pr_title:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
